.loading{
	display:block;
	position:absolute;
	top:300px;
    right:500px;
	align-content:center;
	padding-left:10px;
	padding-right:10px;
	
}

.repolist{
    background-color:lightgray;
	display:block;
	position:absolute;
	top:300px;
    right:475px;
	align-content:center;
	padding-left:10px;
	padding-right:10px;
    max-height: 250px; 
    border: 1px solid blue; 
    overflow: auto;
	
}