<header class="header" >
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-right" ng-controller="maincontroller">
            <ul class="nav navbar-nav">
                
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        <!--<i class="glyphicon glyphicon-user"></i>-->
                        <div>
                            <img src="{{user.avatar_url}}" width="20" height="20" style="display:inline;" ng-show="showLogout" />
                            <span>{{user.login}}<i class="caret"></i></span>
                        </div>
                        
                    </a>
                    <ul class="dropdown-menu">


                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="container" ng-show="showLogin">
                                <a href="#" class="btn btn-default btn-flat" ng-click="user_authenticate()" >Login with Github</a>
                            </div>

                            <div ng-show="showLogout" >
                                <div class="pull-left">
                                    <a data-toggle="modal" data-target="#popup" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat" ng-click="user_logout()">Sign out</a>
                                </div>


                                      


                            </div>



                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </nav>

      <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="H1">App Info</h4>
                        </div>
                        <div class="modal-body">
                            App Name : 
                            <br />
                            Rate App


                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
</header>
