<header class="header" >
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-right" ng-controller="maincontroller">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>

                    </a>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-warning"></i>

                    </a>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>

                    </a>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        <!--<i class="glyphicon glyphicon-user"></i>-->
                        <div><img src="{{user.avatar_url}}" width="25" height="25" /></div>
                        <span>{{user.login}}<i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">


                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="container" ng-show="true">
                                <a href="#" class="btn btn-default btn-flat" ng-click="user_authenticate()">Login with Github</a>
                            </div>

                            <div ng-show="false">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
