
<nav class="navbar navbar-static-top bg-navy" role="navigation">
    <div class="navbar-left">
        <ul class="nav navbar-nav">
            <li>
                <a onclick="sidebar1show(), sidebar2hide();" href="#/">
                    <i class="fa fa-home"></i> <span>Home</span>

                </a>
            </li>

            <!--new item added-->

            <li class="dropdown" style="cursor:pointer">
                <a data-toggle="dropdown" class="dropdown-toggle">File<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-show="!isEditingApp"><a data-toggle="modal" data-target="#myModal2">Create new app</a></li>
                    <li class="dropdown-submenu">
                        <a>New File</a>
                        <ul class="dropdown-menu">
                            <li id="html"><a ng-click="newHtmlFile()">HTML</a></li>
                            <li id="css"><a ng-click="newCssFile()">CSS</a></li>
                            <li id="javascript"><a ng-click="newJsFile()">JavaScript</a></li>
                        </ul>
                    </li>
                    <li ng-show="isEditingApp"><a data-toggle="modal" data-target="#myModal">Edit App Data</a></li>
                    <li><a data-ng-click="loadRepo()" data-toggle="modal" data-target="#repo-list">Open App</a></li>
                    <li><a data-ng-click="saveGit()">Save in Github</a></li>
                    <li><a data-ng-click="saveFile()">Save</a></li>
                    <li><a data-toggle="modal" data-target="#myModal3">App Database</a></li>

                </ul>
            </li>

            <li class="dropdown" style="cursor:pointer">
                <a data-toggle="dropdown" class="dropdown-toggle">Theme<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-ng-click="ChangeTheme('twilight')">Twilight</a></li>
                    <li><a data-ng-click="ChangeTheme('ambiance')">Ambiance</a></li>
                    <li><a data-ng-click="ChangeTheme('chaos')">Chaos</a></li>
                    <li><a data-ng-click="ChangeTheme('chrome')">Chrome</a></li>
                    <li><a data-ng-click="ChangeTheme('clouds')">Clouds</a></li>
                    <li><a data-ng-click="ChangeTheme('crimson_editor')">Crimson Editor</a></li>
                    <li><a data-ng-click="ChangeTheme('cobalt')">Cobalt</a></li>
                    <li><a data-ng-click="ChangeTheme('dawn')">Dawn</a></li>
                    <li><a data-ng-click="ChangeTheme('dreamweaver')">Dreamweaver</a></li>
                    <li><a data-ng-click="ChangeTheme('eclipse')">Eclipse</a></li>
                    <li><a data-ng-click="ChangeTheme('github')">Github</a></li>
                    <li><a data-ng-click="ChangeTheme('kuroir')">Kuroir</a></li>
                    <li><a data-ng-click="ChangeTheme('monokai')">Monokai</a></li>
                    <li><a data-ng-click="ChangeTheme('terminal')">Terminal</a></li>
                    <li><a data-ng-click="ChangeTheme('textmate')">Textmate</a></li>
                    <li><a data-ng-click="ChangeTheme('tomorrow')">Tomorrow</a></li>
                    <li><a data-ng-click="ChangeTheme('xcode')">XCode</a></li>
                </ul>
            </li>

            <!--new item added-->
            <li class="dropdown" style="cursor:pointer">
                <a data-toggle="dropdown" class="dropdown-toggle">Edit<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-click="gotoLine()"><a data-toggle="modal">Line number</a></li>
                </ul>


            </li>

            <li>
                <a data-ng-click="previewApp()">
                    Preview
                </a>
            </li>
            <li>
                <a data-ng-click="publishApp()">Publish</a>
            </li>
            
        </ul>
        
        
        <div class="col-sm-3 col-md-3 navbar-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search in document" name="q" id="id" ng-model="searchTxt">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="Search(searchTxt)"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>


<div id="editor"></div> <!--ng-init="htmlClicked('appindex.html')"-->
<script>

    document.getElementById('editor').style.fontSize = '12px';


</script>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit App Data</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="App name">App name</label>
                    <div class="controls">
                        <input id="App name" name="App name" type="text" placeholder="" class="input-medium" required="" value="{{githubRepoName}}">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="selectbasic">Category</label>
                    <div class="controls">
                        <select id="selectbasic" name="selectbasic" class="input-large" ng-options="cat as cat.CategoryName for cat in allcategories " ng-model="appCategory" ng-change="update()"></select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Insert App Data</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="App name">App name</label>
                    <div class="controls">
                        <input id="App name" name="App name" type="text" placeholder="" class="input-medium" required="" ng-model="createNewA.AppName">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="selectbasic">Category</label>
                    <div class="controls">
                        <select id="selectbasic" name="selectbasic" class="input-large" ng-options="cat as cat.CategoryName for cat in allcategories " ng-model="appCategory" ng-change="update()"></select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-ng-click="createNewApp()">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="repo-list">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Your app list</h4>
            </div>
            <div class="modal-body">

                <div ng-show="show_repo_list">
                    <ul class="nav nav-pills nav-stacked">
                        <li data-ng-repeat="repo in repoList">
                            <a ng-click="openRepo(repo.name)" data-dismiss="modal">
                                {{repo.name}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="loading-in" ng-show="showloading_in">
                    <img src="app/createnewapp/loading2.gif" style="height:60px; width:60px;">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="loading-out" ng-show="showloading_out">
    <img src="app/createnewapp/loading2.gif" style="height:60px; width:60px;">
</div>


<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">Database</h2>
            </div>
            <div class="modal-body">
                <h4>Fill the data need to create a new Websql Database</h4>
                <form name="Form_1" class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="db_short_Name">Short Name</label>
                            <div class="controls">
                                <input size="40" id="db_short_Name" name="db_short_Name" placeholder="Enter database short name" class="input-xlarge" required="" type="text" ng-model="shortname">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="db_display_Name">Display Name</label>
                            <div class="controls">
                                <input size="40" id="db_display_Name" name="db_display_Name" placeholder="Enter database display name" class="input-xlarge" required="" type="text" ng-model="displayname">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="db_max_Size">Max Size</label>
                            <div class="controls">
                                <input size="80" id="db_max_Size" name="db_max_Size" placeholder="Enter maxiumun size" class="input-xlarge" required="" type="number" ng-model="maxsize">
                            </div>
                        </div>
                        <br />
                        <!-- Button -->
                        <div class="control-group">
                            <div class="controls">
                                <button id="button1_Create" name="button1_Create" class="btn btn-primary" ng-click="create()">Create</button>
                                <button id="run_query " name="run_query" class="btn btn-primary" data-toggle="modal" data-target="#Query">Query</button>
                                <!-- <button id="button2_Next" name="button2_Next" class="btn btn-default">Close</button> -->
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Query form-->

<div class="modal fade" id="Query" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Query</h3>
            </div>
            <div class="modal-body">
                <form name="Addtable_form" class="form-horizontal">
                    <fieldset>

                        <!-- Textarea -->
                        <div class="control-group">
                            <h4><label class="control-label" for="query">Enter Query</label></h4>
                            <div class="controls">
                                <textarea rows="8" cols="80" id="query" name="query" ng-model="mymodel.query"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="runquery()">Excute</button>
            </div>
        </div>
    </div>
</div>
<!-- CREATE TABLE Persons
( PersonID int,
LastName varchar(255),
FirstName varchar(255),
Address varchar(255),
City varchar(255) );  -->


<!-- INSERT INTO Persons
(PersonID ,LastName, FirstName , Address , City )
VALUES ('123','John', 'Doe','New York','USA');  -->
